<!-- views/partials/note.hbs-->
<li
        class="note"
        data-created="{{#if created}}{{created}}{{else}}\{{created}}{{/if}}"
        data-due="{{#if due}}{{due}}{{else}}\{{due}}{{/if}}"
        data-ID="{{#if id}}{{id}}{{else}}\{{id}}{{/if}}"
        data-importance="{{#if importance}}{{importance}}{{else}}\{{importance}}{{/if}}"
>
    <article class="note__article">
        <div class="note__content">
            <h2 class="note__title">
                {{#if title}}
                    {{title}}
                {{else}}
                    \{{title}}
                {{/if}}
            </h2>
            <p>
                {{#if content}}
                    {{content}}
                {{else}}
                    \{{content}}
                {{/if}}
            </p>
        </div>
        <div class="note__infos t-sm">
            <div>
                <p>Created: {{created}}</p>
                <p>Due Date: {{due}}</p>
            </div>
            <div class="note__age">
                <p class="label">Age:</p>
                {{#times age}}
                    <span></span>
                {{/times}}
            </div>
        </div>
        <div class="note__actions">
            <button class="bg-yellow round button js-modal--edit" id="" ><i class="fas fa-pen"></i></button>
            <button class="bg-orange round button" onclick="noteDone({{_id}})"><i class="fas fa-spinner"></i></button>
            <button class="bg-green round button js-note--done"><i class="fas fa-check"></i></button>
        </div>
    </article>
</li>